<b>{{todaydate | date:'d/M/y'}}</b><br/>
<b>{{todaydate | date:'shortTime'}}</b>

<html>
   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">dashboard</li>
         
        </ol>
    </nav>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        
      </div>


<div class="main">
    <h1>TODO LIST</h1>
    
    <div class="addItem">
        <input [(ngModel)] = "newItem"  placeholder="Add Item" class="addText">
        <button (click) = "pushItem()">Add</button>
    </div>
    <ul>
        <li *ngFor = "let i of items; let ind = index">
            {{i}}
           <span  (click) = "removeItem(ind)">x</span>
        </li>
    </ul>
   
</div>
</html>
